			body{
				padding:0;
				margin:0;
				display: flex;
				justify-content: center;
			}
			.logo>img{
				height:60px;
				width:60px;
			}
			.logo>h1{
				font-size: 20px;
				color: blue;
			}
			.hp>img{
				object-fit: cover;
				width:100%;
				height:200px;
			}

			.logo{
				display: flex;
				flex-direction: row;
				width: 100%;
				align-items: center;
				gap: 20px;
				font-family: "arial",unicode;

			}

			.navigation>ul{
					list-style-type: none;
					font-size: 25px;
					display: flex;
					flex-direction: row;
					width: 100%;
					align-items: center;
					gap: 35px;
					text-transform: uppercase;
					margin: 0;
					padding: 0;
					justify-content: right;
					padding-right: 15px;

			}
			.top-container{
				display: flex;
				flex-direction: row;
				gap: 5px;
				margin: 0 15px
				}
			.navigation {
				display: flex;
				width: 100%;
				font-family: monospace;
				}

			.navigation ul>li {
				letter-spacing: 2px;
			}
			.navigation ul>li:hover{
				background-color:#accff1;
			}
			.navigation ul li a {
		    text-decoration:none;
		    color: black;
				}
			.WC{
				font-size: 30px;
				position: absolute;
				display: block;
				top: 55px;
				color: white;
				}
			.BCC {
				position: absolute;
				display: block;
				top: 150px;
				color: white;
				font-size: 80px;
				padding-left: 40px;
				font-family: brush script MT;
				}
			.WC {
				position: absolute;
				display: block;
				top: 70px;
				color: white;
				font-size: 65px;
				padding-left: 18px;
			}
			.about {
		    display: flex;
		    background-color: #c3924f;
		    padding-left: 5px;
		    flex-direction: column;
				padding: 10px;
		}
		.about>span {
		    font-size: 30px;
		    font-family: arial;
		    font-weight: 700;
		    text-align: center;
		}
		.about>p {
			font-size: 23px;
	    font-family: forum;
	    color: white;
	    text-align: left;
	    margin-top: 10px;
	    line-height: 2;
		}
		.Collect {
		    background-color: whitesmoke;
		    width: 80%;
		    margin: 0;
		    display: flex;
		    flex-direction: column;
				padding: 10px;
		}
		.Collect>span {
			font-size: 30px;
	    font-family: arial;
	    font-weight: 700;
		  padding-left: 20px;
		}
		.Collect>ul {
				list-style-type: none;
				font-size: 17px;
				margin-top: 3px;
				display: block;
				font-family: arial;
				font-weight: 900;
				color: #703c06db;
				padding-left: 20px;
		}
	.new {
		 display: flex;
	  	flex-direction: column;
			margin-top: 10px;
		}
		.new>img {
		    height: 200px;
		    width: 800px;
		    object-fit: cover;
				opacity: 0.8;
		}
		.floating-container>span {
    margin-top: 15px;
    font-size: 30px;
    font-family: none;
    color: #001d38;
    font-weight: 800;
    letter-spacing: 15px;
    padding-left: 88px;
		}
		.floating-container {
			    position: absolute;
			    z-index: 1;
			}
.floating-container>ul {
		list-style-type: none;
		margin-top: 5px;
		font-family: monospace;
		text-align: center;
		font-size: 25px;
		color: #641717;
		}
.floating-container ul li span {
 		color: #ff000a;
		font-size: 20px;
		font-family: fantasy;
		}
.about-collect-container {
    display: flex;
    flex-direction: row;
		height: 250px;
		gap: 10px;
}

.wrapper {
		width: 1280px;
	}
	.third-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
	}
	.update {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forth-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
	.forth-container>span {
		text-align: center;
    font-size: 30px;
    font-family: monospace;
    font-weight: 600;
}
.forth-container>ul {
	font-size: 25px;
	margin: 3px;
	color: white;
}
.updatepic>img {
    height: 200px;
    margin-top: 10px;
    width: 470px;
}
.footer {
    background: #02000ce8;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 60px;
}
.copyright {
    font-size: 13px;
    text-align: left;
		padding-left: 10px
;
    margin: 3px;
}
.contact {
    font-size: 13px;
    text-align: center;
    padding-left: 2px;
    gap: 3px;
    display: flex;
    flex-direction: column;
}
.contact>span {
    font-size: 13px;
    text-align: center;
    padding-left: 50px;
}
.contact>p {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0px;
}
.contact p img {
    height: 20px;
}
.contact>p {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    gap: 5px;
}
.address {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding-left: 50px;
}
.aboutnav {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: left;
    margin: 10px;
}
.aboutnav-container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.aboutlabel-container {
    display: flex;
    flex-direction: column;
    width: 69%;
}
.aboutnav span {
    font-size: 35px;
    font-family: georgia;
    font-weight: 700;
    text-align: left;
}
.aboutnav p {
    font-size: 25px;
    font-family: gotham;
    margin-top: 10px;
}
.aboutnav img {
    width: 100%;
    right: 40px;
    padding: 30px;
    background: #4e4eef52;
    display: flex;
    border-radius: 50%;
}
.imgnav{
width:25%
}
.gallerynav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px;
}
.labelcampus {
    font-size: 30px;
    font-family: georgia;
    color: darkblue;
    margin: 10px;
}
.galimg1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 130px;
    justify-content: center;
    margin: 20px;
}
.galimg1 img {
    height: 130px;
    object-fit: cover;
}
.galimg2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 130px;
}
.galimg2 img {
    width: 200px;
    object-fit: cover;
}
.camgal-container {
    background-color: #3fcbcb24;
    padding-top: 2px;
    padding-bottom: 20px;
}

.spaceslabel {
    font-size: 30px;
    font-family: georgia;
    color: darkblue;
    margin: 10px;
}
.libimg1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 130px;
    justify-content: center;
    margin: 20px;
}
.libimg1 img {
    height: 130px;
    object-fit: cover;
}
.libimg2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 130px;
		gap:10px;
}
.libimg2 img {
    width: 174px;
}
.libimg-container {
    background-color: #3fcbcb24;
    padding-top: 2px;
    padding-bottom: 20px;
}
.studentlabel {
    font-size: 30px;
    font-family: georgia;
    color: darkblue;
    margin: 10px;
}
.stuimg1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 130px;
    justify-content: center;
    margin: 20px;
}
.stuimg1 img {
    height: 130px;
    object-fit: cover;
}
.stuimg2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 130px;
		gap:10px;
}
.stuimg2 img {
    width: 174px;
}
.stuimg-container {
    background-color: #3fcbcb24;
    width: 340px;
    padding: 16px;
    padding-bottom: 5px;
}
.searchbar input[type="text"] {
    border-radius: 20px;
    border-color: sandybrown;
    height: 25px;
    width: 300px;
}
.books-container {
    display: flex;
    flex-direction: column;
		gap:90px;
}
.new-container {
    display: flex;
    flex-direction: column;
}
.newlabel {
    display: flex;
    font-size: 30px;
    margin: 15px;
		font-family: sans;
		color: darkblue;
}
.newimg1 {
    display: flex;
    gap: 120px;
    height: 200px;
		margin: 20px;
}
.newimg1 img {
  width: 150px;
}
.lady {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 19px;
    font-family: georgia;
    color: saddlebrown;
}
.lady span a{
	text-decoration: none;
	color: saddlebrown;
}
.lady span a:hover{
	background-color:#15374a80;
}
.mycenae {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: -webkit-auto;
    font-size: 12px;
    font-family: georgia;
    width: 150px;
}
.mycenae span a {
    text-decoration: none;
    color: saddlebrown;
}
.mycenae span a:hover{
		background-color:#15374a80;
}
.trial {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 19px;
    font-family: georgia;
    color: saddlebrown;
}
.trial span a {
    text-decoration: none;
    color: saddlebrown;
}
.trial span a:hover{
		background-color:#15374a80;
}
.alladin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-family: georgia;
    color: saddlebrown;
    width: 150px;
}
.alladin span a {
    text-decoration: none;
    color: saddlebrown;
}
.alladin span a:hover{
		background-color:#15374a80;
}
.time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 19px;
    font-family: georgia;
    color: saddlebrown;
}
.time span a {
    text-decoration: none;
    color: saddlebrown;
}
.time span a:hover{
		background-color:#15374a80;
}
.categorieslabel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    padding: 4px;
    font-family: georgia;
    background-color: #7e2c0d0d;
    color: #15374a;
    font-weight: 600;
}
.BGbooks1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 100px;
		margin-top: 0px;
}
.BGbooks1 img {
    width: 300px;
    opacity: 0.5;
    height: 200px;
}
.BGbooks2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 100px;
		margin-top: 0px;
}
.BGbooks2 img {
    width: 300px;
    opacity: 0.5;
    height: 200px;
}
.science{
	display: flex;
 	flex-direction: column;
 	position: relative;
 	text-align: center;
 	align-items: center;
 	justify-content: center;
}
.science span {
	position: absolute;
	display: flex;
 	font-size: 40px;
 	font-family: fantasy;
}
.science span a {
    text-decoration: none;
    color: #640808c9;
}
.science:hover {
    background: bisque;
}
.filipino{
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.filipino span {
	position: absolute;
	display: flex;
	font-size: 40px;
	font-family: fantasy;
}
.filipino span a {
    text-decoration: none;
    color: #640808c9;
}
.filipino:hover {
    background: bisque;
}
.culture{
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.culture img {
    display: flex;
    justify-content: space-around;
    height: 206px;
}
.culture span {
	position: absolute;
	display: flex;
	font-size: 40px;
	font-family: fantasy;
}
.culture span a {
    text-decoration: none;
    color: #640808c9;
}
.culture:hover {
    background: bisque;
}
.fictional {
    display: flex;
    flex-direction: column;
}
.fictional span {
    position: absolute;
    display: flex;
    left: 160px;
    font-size: 40px;
    margin-top: 70px;
    font-family: fantasy;
}
.fictional span a {
    text-decoration: none;
    color: #640808c9;
}
.fictional:hover {
    background: bisque;
}
.filipino:hover {
    background: bisque;
}
.nonfictional{
    display: flex;
    flex-direction: column;
}
.nonfictional span {
    position: absolute;
    display: flex;
    left: 570px;
    font-size: 30px;
    margin-top: 80px;
    font-family: fantasy;
}
.nonfictional span a {
    text-decoration: none;
    color: #640808c9;
}
.nonfictional:hover {
    background: bisque;
}
.history{
    display: flex;
    flex-direction: column;
}
.history img {
	display: flex;
	justify-content: space-around;
}
.history span {
    position: absolute;
    display: flex;
    right: 150px;
    font-size: 40px;
    margin-top: 70px;
    font-family: fantasy;
}
.history span a {
    text-decoration: none;
    color: #640808c9;
}
.history:hover {
    background: bisque;
}
.science,
.filipino,
.culture,
.fictional,
.nonfictional,
.history {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}

.science span,
.filipino span,
.culture span,
.fictional span,
.nonfictional span,
.history span {
    position: absolute !important;
    display: flex !important;
    font-size: 40px !important;
    font-family: fantasy !important;
    margin-top: 0 !important;
    align-items: center !important;
    justify-content: center !important;
    left: unset !important;
    top: unset !important;
    right: unset !important;
}
.bookmycenae {
    display: flex;
    flex-direction: row;
		background-color: #b7874838;
}
.bookmycenae span img {
    width: 150px;
    margin: 20px;
}
.mycenae-container {
    display: flex;
    gap: 20px;
    font-family: monospace;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
}
.mycenaelabel span {
    font-size: 30px;
    font-weight: 700;
}
.abouttextmycenae {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 60px;
}
.mycenaeaboutlabel {
    font-size: 40px;
    font-weight: 700;
}
.abouttextmycenae p {
    font-size: 20px;
    color: #85420a;
}
.bookladytangledwood {
    display: flex;
    flex-direction: row;
		background-color: #b7874838;
}
.bookladytangledwood span img {
    width: 150px;
    margin: 20px;
}
.ladytangledwood-container {
    display: flex;
    gap: 20px;
    font-family: monospace;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
}
.ladytangledwoodlabel span {
    font-size: 30px;
    font-weight: 700;
}
.abouttextladytangledwood {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 60px;
}
.ladytangledwoodaboutlabel {
    font-size: 40px;
    font-weight: 700;
}

.abouttextladytangledwood p {
    font-size: 20px;
    color: #85420a;
}
.booktrialbysorcery {
    display: flex;
    flex-direction: row;
		background-color: #b7874838;
}
.booktrialbysorcery span img {
    width: 150px;
    margin: 20px;
}
.trialbysorcery-container {
    display: flex;
    gap: 20px;
    font-family: monospace;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
}
.trialbysorcerylabel span {
    font-size: 30px;
    font-weight: 700;
}
.abouttexttrialbysorcery {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 60px;
}
.trialbysorceryaboutlabel {
    font-size: 40px;
    font-weight: 700;
}

.abouttexttrialbysorcery p {
    font-size: 20px;
    color: #85420a;
}
.bookalladin {
    display: flex;
    flex-direction: row;
		background-color: #b7874838;
}
.bookalladin span img {
    width: 150px;
    margin: 20px;
}
.alladin-container {
    display: flex;
    gap: 20px;
    font-family: monospace;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
}
.alladinlabel span {
    font-size: 30px;
    font-weight: 700;
}
.abouttextalladin {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 60px;
}
.alladinaboutlabel {
    font-size: 40px;
    font-weight: 700;
}

.abouttextalladin p {
    font-size: 20px;
    color: #85420a;
}
.booktimetraders {
    display: flex;
    flex-direction: row;
		background-color: #b7874838;
}
.booktimetraders span img {
    width: 150px;
    margin: 20px;
}
.timetraders-container {
    display: flex;
    gap: 20px;
    font-family: monospace;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
}
.timetraderslabel span {
    font-size: 30px;
    font-weight: 700;
}
.abouttexttimetraders {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 60px;
}
.timetradersaboutlabel {
    font-size: 40px;
    font-weight: 700;
}

.abouttexttimetraders p {
    font-size: 20px;
    color: #85420a;
}
.sciencebackground-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.science-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 100px;
    height: 710px;
    background-color: whitesmoke;
}

.scienceimg1 {
    display: flex;
    gap: 120px;
    height: 200px;
    padding: 20px;
}
.scienceimg1 img {
  width: 150px;
}
.Journey {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.Journey span a{
	text-decoration: none;
	color: saddlebrown;
}
.Journey span a:hover{
	background-color:#15374a80;
}
.Biology {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.Biology span a{
	text-decoration: none;
	color: saddlebrown;
}
.Biology span a:hover{
	background-color:#15374a80;
}
.Physics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.Physics a img {
    height: 230px;
}
.Physics span a{
	text-decoration: none;
	color: saddlebrown;
}
.Physics span a:hover{
	background-color:#15374a80;
}
.astronomy {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.astronomy a img {
    height: 230px;
}
.astronomy span a{
	text-decoration: none;
	color: saddlebrown;
}
.astronomy span a:hover{
	background-color:#15374a80;
}
.SolarSystem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.SolarSystem a img {
    height: 230px;
}
.SolarSystem span a{
	text-decoration: none;
	color: saddlebrown;
}
.SolarSystem span a:hover{
	background-color:#15374a80;
}
.scienceimg2 {
    display: flex;
    gap: 120px;
    height: 200px;
    padding: 20px;
}
.scienceimg2 img {
  width: 150px;
}
.FormationSolar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.FormationSolar a img {
    height: 230px;
}
.FormationSolar span a{
	text-decoration: none;
	color: saddlebrown;
}
.FormationSolar span a:hover{
	background-color:#15374a80;
}
.CorpusEarthling {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.CorpusEarthling a img {
    height: 230px;
}
.CorpusEarthling span a{
	text-decoration: none;
	color: saddlebrown;
}
.CorpusEarthling span a:hover{
	background-color:#15374a80;
}
.DowntoEarth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.DowntoEarth a img {
    height: 230px;
}
.DowntoEarth span a{
	text-decoration: none;
	color: saddlebrown;
}
.DowntoEarth span a:hover{
	background-color:#15374a80;
}
.ASpaceOdyssey {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.ASpaceOdyssey a img {
    height: 230px;
}
.ASpaceOdyssey span a{
	text-decoration: none;
	color: saddlebrown;
}
.ASpaceOdyssey span a:hover{
	background-color:#15374a80;
}
.DiversionsNaturalist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.DiversionsNaturalist a img {
    height: 230px;
}
.DiversionsNaturalist span a{
	text-decoration: none;
	color: saddlebrown;
}
.DiversionsNaturalist span a:hover{
	background-color:#15374a80;
}
.filipinobackground-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.filipino-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 100px;
    height: 710px;
    background-color: whitesmoke;
}

.filipinoimg1 {
    display: flex;
    gap: 120px;
    height: 200px;
    padding: 20px;
}
.filipinoimg1 img {
  width: 150px;
}
.Floranteatlaura {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.Floranteatlaura a img {
    height: 230px;
}
.Floranteatlaura span a{
	text-decoration: none;
	color: saddlebrown;
}
.Floranteatlaura span a:hover{
	background-color:#15374a80;
}
.LaTercera {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.LaTercera a img {
    height: 230px;
}
.LaTercera span a{
	text-decoration: none;
	color: saddlebrown;
}
.LaTercera span a:hover{
	background-color:#15374a80;
}
.NoliMeTangere {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.NoliMeTangere a img {
    height: 230px;
}
.NoliMeTangere span a{
	text-decoration: none;
	color: saddlebrown;
}
.NoliMeTangere span a:hover{
	background-color:#15374a80;
}
.TwoNavels {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.TwoNavels a img {
    height: 230px;
}
.TwoNavels span a{
	text-decoration: none;
	color: saddlebrown;
}
.TwoNavels span a:hover{
	background-color:#15374a80;
}
.PanitikanSaPilipinas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-family: georgia;
    color: saddlebrown;
}
.PanitikanSaPilipinas a img {
    height: 230px;
}
.PanitikanSaPilipinas span a{
	text-decoration: none;
	color: saddlebrown;
}
.PanitikanSaPilipinas span a:hover{
	background-color:#15374a80;
}
.filipinoimg2 {
    display: flex;
    gap: 120px;
    height: 200px;
    padding: 20px;
}
.filipinoimg2 img {
  width: 150px;
}
